@model OrderViewModel

<h1 class="h3">Checkout</h1>
<hr />
<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Order details</h4>
        <form method="post" asp-controller="Card" asp-action="Checkout">
            <input type="hidden" name="cardId" value="1" />
            <div class="row mb-3">
                <div class="col-md-6">
                    <label asp-for="@Model.Firstname">Name</label>
                    <input asp-for="@Model.Firstname" class="form-control" />
                </div>
                <div class="col-md-6">
                    <label asp-for="@Model.Lastname">Lastname</label>
                    <input asp-for="@Model.Lastname" class="form-control" />
                </div>
            </div>
            <div class="mb-3">
                <label asp-for="@Model.Address">Address</label>
                <textarea asp-for="@Model.Address" class="form-control"></textarea>
            </div>
            <div class="row mb-3">
                <div class="col-md-4">
                    <label asp-for="@Model.City">City</label>
                    <input asp-for="@Model.City" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Phone">Phone</label>
                    <input asp-for="@Model.Phone" class="form-control" />
                </div>
                <div class="col-md-4">
                    <label asp-for="@Model.Email">Email</label>
                    <input asp-for="@Model.Email" class="form-control" />
                </div>
            </div>
            <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                    data-key="pk_test_51HZ0JCIDmUIXaAnrWy0MtRFGvPZGsevNVKmOUTkYLzmwbLvSZ1o4gga5Tssg9laMz1XE6ZFA5DoCDsKOOpxLXrtx00pL10GFff"
                    data-amount="@Model.CardModel.TotalPrice().ToString()"
                    data-name="[My Company Name]"
                    data-description="Stripe payment"
                    data-image="https://stripe.com/img/documentation/checkout/marketplace.png"
                    data-locale="en"
                    data-zip-code="true"
                    data-label="Submit and pay">
            </script>
        </form>
    </div>

    <div class="col-md-4">
        <h4 class="mb-3">
            <span>Info</span>
            <ul class="list-group-item">
                @foreach (var item in Model.CardModel.CardItems)
                {
                    <li class="list-group-item d-flex justify-content-between">
                        <div>
                            <h6>@item.Name</h6>
                        </div>
                        <span class="text-muted">@item.Price.ToString("c")</span>
                    </li>
                }

                <li class="list-group-item d-flex justify-content-between">
                    <div>
                        <h6>Product name</h6>
                        <small class="text-muted">Description</small>
                    </div>
                    <span class="text-muted">100$</span>
                </li>
                <li class="list-group-item d-flex justify-content-between">
                    <span>Total($)</span>
                    <strong class="text-muted">@Model.CardModel.TotalPrice().ToString("c") $</strong>
                </li>
            </ul>
        </h4>
    </div>
</div>